@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}




.navigation {
    /* height: 55px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

nav span {
    font-size: x-large;
    font-weight: bold;
}

nav span img {
    width: 70px;
    border-radius: 200px;
    /* margin-left: -5px; */
}

.content {
    /* height: 395px; */
    display: flex;
    /* background-color: rgb(247, 247, 249); */
    margin-top: 32px;
    font-family: 'Poppins', sans-serif;

}

.content::after {
    content: "";
    background-image: url('../image/type.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;

}

.left {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: flex;
    margin: 0px 10px;
    font-weight: 700;
}

.left ul {
    display: flex;
    margin-left: 40px;
    /* padding-top: 50px; */
}

.left ul li {
    list-style: none;
    margin: 0px 15px;

}

.left ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 380;
    font-size: large;
    /* Bold text */
}

.content-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    z-index: 1;



}

.content-left p {
    padding-top: 15px;
}

.content-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-right img {
    height: 337px;
    width: 50%;
    border: 2px solid black;
    border-radius: 49%;
}


.home-articles {
    background-color: rgb(247, 247, 249);
    padding-top: 12px;
    margin-top: 23px;
    position: relative;
}

.year-box {
    position: absolute;
    width: 105px;
    height: 80px;
    top: 50px;
    right: 50px;

    /* background-color: red; */
}

.year-box div {
    margin-top: 20px;
}

.home-article {
    display: flex;
    padding: 30px;
}

.home-article a {
    text-decoration: none;
    color: black;
}

.home-article img {
    width: 250px;
}

.home-article-content {

    align-self: center;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}



.footer {
    height: 50px;
    background: purple;
    display: flex;
    align-items: center;
    justify-content: center;

}